<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="signIn()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please Sign In</h3>
        <div class="form-group mt-3">
            <label>Email address</label>
            <input 
                type="email" 
                class="form-control"
                formControlName="email"
                placeholder="Enter Email"
                required
            >
            <span
                style="color: red"
                *ngIf="email && email.touched && email.invalid"
            >
                Email is required. Must input email type
            </span>
        </div>
        <div class="form-group mt-3">
            <label>Password</label>
            <input 
                type="password" 
                class="form-control"
                formControlName="password"
                placeholder="Input Password"
                required
            >
            <span
                style="color: red"
                *ngIf="password && password.touched && password.invalid"
            >
                Password is required. Min Length is 5
            </span>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3">
            Sign in
        </button>
    </form>
</div>